# <span style="color:blue">In all the following questions, i use BeautifulSoup to scrape different websites and collect data as per the requirement of the question

In [6]:
# necessary packages
!pip install bs4
!pip install requests
!pip install html5lib

Requirement already satisfied: bs4 in c:\users\nirma\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nirma\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\nirma\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\nirma\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: html5lib in c:\users\nirma\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\nirma\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\nirma\anaconda3\lib\site-packages (from html5lib) (1.16.0)

In [7]:
#import libraries
from bs4 import BeautifulSoup
import requests

# <span style="color:red">1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [22]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page') #to get the source code of the webpage 
soup = BeautifulSoup(page.content, 'html5lib')    #Parsing the HTML content

header_tags=[] #creating empty list
for i in soup.find_all("span",class_="mw-headline"): #extract the text from these tags one by looping over these tags
    header_tags.append(i.text) #adding text one by one to the list
    
#creating dataframe  
import pandas as pd
header=pd.DataFrame({"Headline":header_tags})
header

                        Headline
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

# <span style="color:red">2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [52]:
page = requests.get("https://presidentofindia.nic.in/former-presidents")
soup=BeautifulSoup(page.content,"html5lib")

name=[]
for i in soup.find_all("h3"):
    name.append(i.text)

    
term=[]
for i in soup.find_all("h5"):
    term.append(i.text)

import pandas as pd
former_presidents=pd.DataFrame({"Name of President":name,"Term of office":term})
former_presidents

               Name of President           Term of office
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

# <span style="color:red">3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

<span style="color:red">a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [90]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup= BeautifulSoup(page.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]

for i in soup.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
        
print('-'*50)
print("\t Top 10 ODI Teams in Men's Cricket")
print('-'*50)        


odi_team= pd.DataFrame({'Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
odi_team

--------------------------------------------------
	 Top 10 ODI Teams in Men's Cricket
--------------------------------------------------

  Ranking               Team Matches Points Rating
0       1    Australia , AUS      26  3,061    118
1       2     Pakistan , PAK      26  3,061    118
2       3        India , IND      39  4,516    116
3       4   New Zealand , NZ      29  3,006    104
4       5      England , ENG      26  2,636    101
5       6  South Africa , SA      22  2,218    101
6       7   Bangladesh , BAN      32  2,941     92
7       8     Sri Lanka , SL      36  3,280     91
8       9  Afghanistan , AFG      21  1,687     80
9      10   West Indies , WI      38  2,582     68

<span style="color:red">b) Top 10 ODI Batsmen along with the records of their team and rating.

In [100]:

page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup= BeautifulSoup(page.content)


name=[]
Team=[]
Rating=[]


for i in soup.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) ==5:
        
        name.append(cells[1].text.strip())
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
        
print('-'*50)
print("\t Top 10 ODI Batsmen in Men's Cricket")
print('-'*50)        


odi_batsmen = pd.DataFrame({'Batsmen':name,'Team':Team,'Rating':Rating},index=range(1,11))  
odi_batsmen

--------------------------------------------------
	 Top 10 ODI Batsmen in Men's Cricket
--------------------------------------------------

                  Batsmen Team Rating
1              Babar Azam  PAK    863
2            Shubman Gill  IND    759
3   Rassie van der Dussen   SA    745
4            David Warner  AUS    739
5             Imam-ul-Haq  PAK    735
6            Harry Tector  IRE    726
7         Quinton de Kock   SA    721
8             Virat Kohli  IND    715
9            Rohit Sharma  IND    707
10           Fakhar Zaman  PAK    705

<span style="color:red">c) Top 10 ODI bowlers along with the records of their team and rating.

In [107]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup= BeautifulSoup(page.content)


name=[]
Team=[]
Rating=[]


for i in soup.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) ==5:
        
        name.append(cells[1].text.strip())
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
        
print('-'*50)
print("\tTop 10 ODI Bowler in Men's Cricket")
print('-'*50)        


odi_bowler = pd.DataFrame({'Bowler':name,'Team':Team,'Rating':Rating},index=range(1,11))  
odi_bowler

--------------------------------------------------
	Top 10 ODI Bowler in Men's Cricket
--------------------------------------------------

              Bowler Team Rating
1     Josh Hazlewood  AUS    692
2     Mitchell Starc  AUS    666
3        Trent Boult   NZ    666
4         Adam Zampa  AUS    663
5         Matt Henry   NZ    658
6   Mujeeb Ur Rahman  AFG    657
7      Kuldeep Yadav  IND    656
8        Rashid Khan  AFG    655
9     Mohammed Siraj  IND    643
10    Shaheen Afridi  PAK    635

# <span style="color:red">4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

<span style="color:red">a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [111]:
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page=requests.get(url)
soup=BeautifulSoup(page.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]

for i in soup.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
        
print('-'*50)
print("\t Top 10 ODI Teams in Women's Cricket")
print('-'*50)        


odi_team= pd.DataFrame({'Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
odi_team

--------------------------------------------------
	 Top 10 ODI Teams in Women's Cricket
--------------------------------------------------

  Ranking               Team Matches Points Rating
0       1    Australia , AUS      26  4,290    165
1       2      England , ENG      31  3,875    125
2       3  South Africa , SA      26  3,098    119
3       4        India , IND      30  3,039    101
4       5   New Zealand , NZ      28  2,688     96
5       6   West Indies , WI      29  2,743     95
6       7   Bangladesh , BAN      17  1,284     76
7       8     Sri Lanka , SL      12    820     68
8       9     Thailand , THA      13    883     68
9      10     Pakistan , PAK      27  1,678     62

<span style="color:red">b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [112]:

page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup= BeautifulSoup(page.content)


name=[]
Team=[]
Rating=[]


for i in soup.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) ==5:
        
        name.append(cells[1].text.strip())
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
        
print('-'*50)
print("\t Top 10 ODI Batsmen in Women's Cricket")
print('-'*50)        


odi_batsmen = pd.DataFrame({'Batsmen':name,'Team':Team,'Rating':Rating},index=range(1,11))  
odi_batsmen

--------------------------------------------------
	 Top 10 ODI Batsmen in Women's Cricket
--------------------------------------------------

                 Batsmen Team Rating
1   Natalie Sciver-Brunt  ENG    801
2            Beth Mooney  AUS    751
3    Chamari Athapaththu   SL    743
4        Laura Wolvaardt   SA    708
5        Smriti Mandhana  IND    708
6           Alyssa Healy  AUS    702
7       Harmanpreet Kaur  IND    694
8           Ellyse Perry  AUS    686
9            Meg Lanning  AUS    682
10       Stafanie Taylor   WI    618

<span style="color:red">c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [113]:
page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
soup= BeautifulSoup(page.content)


name=[]
Team=[]
Rating=[]


for i in soup.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) ==5:
        
        name.append(cells[1].text.strip())
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
        
print('-'*50)
print("\tTop 10 ODI Bowler in Women's Cricket")
print('-'*50)        


odi_bowler = pd.DataFrame({'Bowler':name,'Team':Team,'Rating':Rating},index=range(1,11))  
odi_bowler

--------------------------------------------------
	Top 10 ODI Bowler in Women's Cricket
--------------------------------------------------

                 Bowler Team Rating
1     Sophie Ecclestone  ENG    761
2        Shabnim Ismail   SA    708
3         Jess Jonassen  AUS    682
4      Ashleigh Gardner  AUS    673
5          Megan Schutt  AUS    666
6       Hayley Matthews   WI    662
7            Kate Cross  ENG    660
8        Ayabonga Khaka   SA    646
9         Deepti Sharma  IND    607
10  Rajeshwari Gayakwad  IND    599

# <span style="color:red">5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
i) Headline            
ii) Time              
iii) News Link

In [37]:
page = requests.get('https://www.cnbc.com/world/?region=world')
soup=BeautifulSoup(page.content,"html5lib")

headline= []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)    
    
time= []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text) 
    
News_Link= []
for i in soup.find_all('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))   
    
import pandas as pd

nf = pd.DataFrame({'headline':headline,'Time':time,'News Link':News_Link})
nf

,headline,Time,News Link
0,Thai hospitality magnate is 'very optimistic' ...,2 Hours Ago,https://www.cnbc.com/2023/09/13/thai-hospitali...
1,Ripple says it will fight the SEC lawsuit 'all...,2 Hours Ago,https://www.cnbc.com/2023/09/13/ripple-says-it...
2,Alibaba and more: CLSA names 3 of the ‘cheapes...,2 Hours Ago,https://www.cnbc.com/2023/09/13/alibaba-and-mo...
3,Morgan Stanley names its top stock picks in a ...,2 Hours Ago,https://www.cnbc.com/2023/09/13/morgan-stanley...
4,A $16 billion lawsuit payout is going to send ...,2 Hours Ago,https://www.cnbc.com/2023/09/13/a-16-billion-l...
5,Ford to double F-150 hybrid pickup production ...,2 Hours Ago,https://www.cnbc.com/2023/09/12/ford-to-double...
6,Google used monopolistic feedback loop to main...,3 Hours Ago,https://www.cnbc.com/2023/09/12/doj-v-google-w...
7,Asia markets mostly lower as investors watch J...,3 Hours Ago,https://www.cnbc.com/2023/09/13/asia-stock-mar...
8,CNBC Daily Open: Apple’s new iPhones didn’t ri...,3 Hours Ago,https://www.cnbc.com/2023/09/13/stock-markets-...
9,Salesforce CEO says Slack will play a prominen...,3 Hours Ago,https://www.cnbc.com/2023/09/12/salesforce-ceo...
10,One of the biggest advances in this year's iPh...,3 Hours Ago,https://www.cnbc.com/2023/09/12/iphone-15-pro-...
11,"Cramer positive on Apple and Oracle, despite ...",3 Hours Ago,https://www.cnbc.com/2023/09/12/-cramer-positi...
12,Cramer's Lightning Round: Enbridge is a buy,3 Hours Ago,https://www.cnbc.com/2023/09/12/cramers-lightn...
13,Amazon says it's boosting pay for contract del...,3 Hours Ago,https://www.cnbc.com/2023/09/12/amazon-to-boos...
14,Birkenstock warns in IPO filing that knock-off...,4 Hours Ago,https://www.cnbc.com/2023/09/12/birkenstock-ip...
15,Stock futures are little changed as Wall Stree...,4 Hours Ago,https://www.cnbc.com/2023/09/12/stock-market-t...
16,Our biggest takeaways from Apple's big event t...,5 Hours Ago,https://www.cnbc.com/2023/09/12/biggest-takeaw...
17,There's one reason I'd upgrade to the iPhone 1...,5 Hours Ago,https://www.cnbc.com/2023/09/12/hands-on-iphon...
18,Oracle suffers worst day since 2002. What the ...,5 Hours Ago,https://www.cnbc.com/2023/09/12/oracle-stock-s...
19,"Covid-19, flu, RSV: Vaccine recommendations fo...",6 Hours Ago,https://www.cnbc.com/2023/09/12/covid-19-flu-r...
20,Investing in Space: Beyond the battlefield,6 Hours Ago,https://www.cnbc.com/2023/09/12/investing-in-s...
21,A Tennessee newspaper is hiring a full-time Ta...,6 Hours Ago,https://www.cnbc.com/2023/09/12/newspaper-is-h...
22,House committee targets crackdown on U.S. inve...,6 Hours Ago,https://www.cnbc.com/2023/09/12/house-committe...
23,Child poverty more than doubled after expanded...,6 Hours Ago,https://www.cnbc.com/2023/09/12/child-poverty-...
24,CDC recommends updated Covid vaccines for ever...,6 Hours Ago,https://www.cnbc.com/2023/09/12/new-covid-vacc...
25,'Cryptoqueen' partner gets 20 years in prison ...,7 Hours Ago,https://www.cnbc.com/2023/09/12/cryptoqueen-pa...
26,Apple will charge $29 for a USB-C adapter for ...,7 Hours Ago,https://www.cnbc.com/2023/09/12/apple-usb-c-ad...
27,Sen. Blumenthal plans action against political...,7 Hours Ago,https://www.cnbc.com/2023/09/12/blumenthal-pla...
28,Biden impeachment inquiry gives White House a ...,8 Hours Ago,https://www.cnbc.com/2023/09/12/house-impeachm...
29,Warren calls for investigation into Elon Musk ...,8 Hours Ago,https://www.cnbc.com/2023/09/12/warren-calls-f...

# <span style="color:red">6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame-
i) Paper Title                 
ii) Authors                  
iii) Published Date                       
iv) Paper URL

In [50]:
page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
soup=BeautifulSoup(page.content,"html5lib")

title=[]
for i in soup.find_all("h2"):
    title.append(i.text)
author=[]
for i in soup.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)
date=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
url=[]
for i in soup.find_all("a",class_="sc-5smygv-0 fIXTHm"):
    url.append(i.get("href"))
    
import pandas as pd
pf = pd.DataFrame({'Titles':title,'Authors':author,'Published date':date,"URL":url})
pf

,Titles,Authors,Published date,URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# <span style="color:red">7) Write a python program to scrape mentioned details from dineout.co.in and make data frame-
i) Restaurant name                   
ii) Cuisine                   
iii) Location                   
iv) Ratings                
v) Image URL

In [51]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)

titles = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    titles.append(i.text)    
cuisine = [] 
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
location = [] 
for i in soup.find_all('div',class_="restnt-loc ellipsis"): 
    location.append(i.text)
rating = [] 
for i in soup.find_all('div',class_="restnt-rating rating-4"): 
    rating.append(i.text)
images = []
for i in soup.find_all("img",class_="no-img"):
    images.append(i.get('data-src'))
    
import pandas as pd

df = pd.DataFrame({'Titles':titles,'Cuisine':cuisine,'Location':location,'Rating':rating,'Images_url':images})
df

,Titles,Cuisine,Location,Rating,Images_url
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The Barbeque Times,"North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...

# <span style="color:blue">****THE END****